@media (min-width:992px) {
  .gach_giua.col-xl-4:not(:last-child)::after, .col-xxl-4:not(:last-child)::after, .col-lg-4:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 1px;
    background-color: #ffffff;
  }
}

