{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Starlink Clone</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark-Multi-Column-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Hero-Carousel-images.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-4.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-11.css' %}">
    <link rel="stylesheet" href="{% static 'css/Media-Slider-Bootstrap-3-media.slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Media-Slider-Bootstrap-3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider-swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-10.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-12.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-6.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-7.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-9.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/Pricing-Yearly--Monthly-badges.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled.css' %}">
</head>

<body>
    <div style="background: url('{% static 'img/home_illustriation1_d.webp' %}') no-repeat left center / 50%;color: white;background-attachment: fixed;background-color: black;height: auto;">
        <section class="py-4 py-xl-5" style="background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.88)), url('{% static 'img/business_home_a_maritime_d.webp' %}') no-repeat center center /cover;min-height: 500px;">
            <nav class="navbar fixed-top navbar-nav text-uppercase navbar-expand-xl" style="padding: clamp(20px,1vw,50px) clamp(24px, 2vw, 60px);">
                <div class="container-fluid" style="text-align: center;justify-content: space-between;"><a class="navbar-brand fw-bold" href="{% url 'index' %}" style="max-width: 180px;"><img src="{% static 'img/logo_white.png' %}" style="max-width: 180px;" width="180" height="30"></a>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav-3" style="padding: 0 1% 0 1%;text-align: center;font-size: 12px;font-weight: bold;">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link text-white left text-uppercase" href="{% url 'residential' %}">Khu dân cư</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'roam' %}">CHUYỂN VÙNG</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'business_maritime' %}"><span style="text-decoration: underline;">Hàng hải </span></a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'business_aviation' %}">Hàng không </a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'business_direct_to_cell' %}">TRỰC TIẾP ĐẾN ĐIỆN THOẠI</a></li>
                        </ul>
                        <div class="d-flex align-items-center"><a class="text-white text-decoration-none text-uppercase" href="{% url 'index' %}" style="white-space: nowrap;margin-right: 1%;">Cá nhân&nbsp;</a><span style="margin: 0 3px;color: white;">|</span><a class="text-white text-decoration-none text-uppercase" href="{% url 'business' %}" style="margin-left: 1%;white-space: nowrap;">DOANH NGHIỆP</a></div>
                    </div><button class="btn menuToggle" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" style="width: 30px;height: 40px;color: white;">

                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 4.44772 3.44772 4 4 4H16C16.5523 4 17 4.44772 17 5C17 5.55228 16.5523 6 16 6H4C3.44772 6 3 5.55228 3 5Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10C3 9.44772 3.44772 9 4 9H16C16.5523 9 17 9.44772 17 10C17 10.5523 16.5523 11 16 11H4C3.44772 11 3 10.5523 3 10Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 15C3 14.4477 3.44772 14 4 14H16C16.5523 14 17 14.4477 17 15C17 15.5523 16.5523 16 16 16H4C3.44772 16 3 15.5523 3 15Z" fill="currentColor"></path>
                        </svg></button>
                </div>
            </nav>
            <div class="main">
                <p style="margin-top: 40px;text-align: center;color: white;font-size: clamp(20px, 5vw, 60px);/*font-weight: 600;*/margin-bottom: 0rem;"><br><strong>STARLINK CHO HÀNG HẢI</strong></p>
                <p style="text-align: center;color: white;width: auto;font-size: clamp(8px, 2vw, 35px);height: auto;font-weight: 400;margin-bottom: auto;"><strong>Internet tốc độ cao trên toàn cầu.</strong></p>
                <p style="text-align: center;color: white;width: auto;font-size: clamp(8px, 2.5vw, 35px);height: auto;font-weight: 400;margin-bottom: auto;padding: 5% 20%;"><span style="text-decoration: underline;">Liên hệ với đội ngũ của chúng tôi</span> hoặc <span style="text-decoration: underline;">xem hướng dẫn mua hàng.</span></p>
            </div>
            <div class="d-flex justify-content-center" style="padding: 5%;"><button class="btn w-100 w-md-auto d-block" type="submit" style="color: black;background-color: white;height: auto;margin-top: 10px;width: auto;max-width: 200px;font-weight: bold;">ĐẶT HÀNG NGAY</button></div>
            <div class="offcanvas-backdrop fade overlay" style="display: none;background-color: #f0f8ffd4;"></div>
            <div class="offcanvas offcanvas-end text-bg-dark sidebar" tabindex="-1" aria-labelledby="sidebarLabel" style="width: 250px;font-size: small;">
                <div class="offcanvas-header"><button class="btn close-btn text-white close_btn" id="close_btn" type="button">X</button></div>
                <div class="offcanvas-body">
                    <div class="d-flex flex-column text-uppercase" style="font-weight: bold;">
                        <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="#">VN</a>
                        <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'sign_in' %}">Đăng nhập</a>
                        <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'help_center' %}">Trung tâm trợ giúp</a>
                        <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'map' %}">Bản đồ vùng phủ sóng</a>
                        <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'specifications' %}">Thông số kỹ thuật</a>
                        <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'service_plans' %}">Gói dịch vụ</a>
                        <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'video_guides' %}">Video hướng dẫn</a>
                        <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'technology' %}">Công nghệ</a>
                        <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'update' %}">Cập nhật</a>
                    </div>
                </div>
            </div>
        </section>
        <nav class="navbar navbar-expand-lg navbar-nav text-uppercase" style="padding: clamp(20px,1vw,50px) clamp(24px, 2vw, 60px);background-color: #303030;color: var(--on-surface-color);font-weight: bold;">
            <div class="container-fluid" style="text-align: center;justify-content: space-between;"><a class="navbar-brand fw-bold text-white" href="#" style="max-width: 180px;"><span>Hàng hải</span></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav-1">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-white left" href="#">Kế hoạch dịch vụ</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="specifications.html">Đặc điểm kỹ thuật</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="help_center.html">Câu hỏi thường gặp</a></li>
                        <li class="nav-item" style="display: flex;justify-content: center;align-items: center;"><button class="btn" type="button" style="border: 1px solid white;background-color: white;color: black;font-weight: bolder;font-size: small;"> ORDER NOW </button></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section class="newsletter-subscribe py-4 py-xl-5" style="background-color: #000000;">
        <div class="row" style="padding-top: 7%;">
            <div class="col-md-6 col-lg-6 col-xl-5 col-xxl-5 offset-md-0 offset-lg-1 offset-xl-1 col-xl-4 col-md-5 offset-md-3 text-md-start text-xxl-start text-xl-start text-lg-start text-sm-center text-xs-center">
                <div style="/*max-width: 350px;*/margin: 5%;"><button class="btn text-white" type="button">ĐỌC NGHIÊN CỨU TRƯỜNG HỢP<i class="fas fa-angle-right" style="margin-left: 10px;"></i></button></div>
            </div>
            <div class="col-xxl-12">
                <div style="width: 100%;display: flex;justify-content: center;align-items: center;/*padding-top: 10%;*/">
                    <div class="d-flex flex-nowrap align-items-center px-3" style="width: 100%;max-width: 85%;overflow: visible;"><button class="btn text-white" type="button" onclick="scrollContainer(-200, &#39;dragContainer-2&#39;)"><i class="fas fa-angle-left"></i></button>
                        <div id="dragContainer-2" class="drag-container" role="region" aria-label="Image carousel" style="/*padding-left: 15px;*//*margin-left: -15px;*//*align-items: center;*//*justify-content: center;*//*width: 91%;*/">
                            <div class="items-wrapper" style="width: 100%;">
                                <div class="item text-start" style="max-width: 350px;min-height: 300px;"><img class="img-built" src="{% static 'img/landmobility_a_casestudy_emergency_d.webp' %}" alt="Starlink">
                                    <h3> BÀI VIẾT MERCHANT </h3>
                                    <p class="text-start"> Điều hướng liền mạch với cập nhật và theo dõi thời tiết thời gian thực. Giữ cho phi hành đoàn của bạn kết nối và giảm chi phí. </p>
                                </div>
                                <div class="item text-start" style="max-width: 350px;min-height: 300px;"><img class="img-built" src="{% static 'img/landmobility_a_casestudy_health_d.webp' %}">
                                    <h3>CÁ THƯƠNG MẠI&nbsp;</h3>
                                    <p class="text-start"> Tối ưu hóa năng suất đánh bắt bằng cách xác định các vị trí tốt nhất và điều hướng thời tiết. Duy trì liên lạc với người khác. </p>
                                </div>
                                <div class="item text-start" style="max-width: 350px;min-height: 300px;"><img class="img-built" src="{% static 'img/landmobility_a_casestudy_trucking_d.webp' %}">
                                    <h3>NGHIÊN CỨU&nbsp;</h3>
                                    <p class="text-start"> Truyền dữ liệu, tải lên hình ảnh và video, chạy các phân tích thời gian thực và duy trì liên lạc từ các vùng xa. </p>
                                </div>
                                <div class="item text-start" style="max-width: 350px;min-height: 300px;"><img class="img-built" src="{% static 'img/fixedsite_a_casestudy_education_d%20(1).webp' %}">
                                    <h3><span style="color: rgb(227, 227, 232); background-color: rgb(37, 37, 41);">Retail &amp; Hospitality</span></h3>
                                    <p class="text-start"> Connect more devices and coordinate in real-time with employees and business partners across sites. </p>
                                </div>
                            </div>
                        </div><button class="btn text-white" type="button" onclick="scrollContainer(200, &#39;dragContainer-2&#39;)"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="background: url('{% static 'img/maritime_illustriation2_d.webp' %}') no-repeat right center / 70%;color: white;background-attachment: fixed;background-color: black;height: auto;">
        <div style="background: url('{% static 'img/maritime_a_feature1_d.webp' %}') no-repeat center center / cover;color: white;padding-bottom: 0px;">
            <div class="row" style="padding-top: 35%;padding-bottom: 7%;">
                <div class="col-md-9 col-lg-6 col-xl-6 col-xxl-6 offset-md-3 offset-lg-6 offset-xl-6 offset-xxl-5 col-xl-4 col-md-5" style="padding: 5% 5% 5% 5%;">
                    <div>
                        <h1 class="text-uppercase fw-bold">PHỦ SÓNG HÀNG HẢI TOÀN CẦU</h1>
                        <p class="my-3">Với chòm sao vệ tinh lớn nhất thế giới, Starlink cung cấp kết nối internet trên các đại dương và đường thủy trên Trái Đất, bao gồm cả vùng biển quốc tế. Xem phần Câu hỏi thường gặp (FAQ) để tìm hiểu thêm.</p>
                        <p class="my-3"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-4 gy-md-0" style="padding: 10% 0;">
            <div class="col-md-5 col-lg-5 col-xl-5 col-xxl-5 offset-xl-0 offset-xxl-0 d-md-flex align-items-md-center" style="margin-left: 5%;">
                <div>
                    <h2 class="text-uppercase fw-bold">ƯU TIÊN TRUY CẬP MẠNG TRÊN BIỂN</h2>
                    <p>Starlink cho Hàng hải mang đến tốc độ nhanh hơn và quyền ưu tiên mạng – nghĩa là dữ liệu của bạn được ưu tiên xử lý dù đang ở cảng hay ngoài khơi.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 offset-xl-0"><img class="rounded img-fluid" src="{% static 'img/maritime_a_feature2_d.webp' %}" style="width: 100%;height: 100%;"></div>
        </div>
        <div style="background: url('{% static 'img/updates_blog6_d.webp' %}') no-repeat center center / cover;color: white;padding-bottom: 0px;">
            <div class="row" style="padding-top: 35%;padding-bottom: 7%;">
                <div class="col-md-9 col-lg-6 col-xl-6 col-xxl-6 offset-md-3 offset-lg-6 offset-xl-6 offset-xxl-5 col-xl-4 col-md-5" style="padding: 5% 5% 5% 5%;">
                    <div>
                        <h1 class="text-uppercase fw-bold">QUẢN LÝ HẠM ĐỘI AN TOÀN, GIÁM SÁT TỪ XA</h1>
                        <p class="my-3">Theo dõi và quản lý từ xa toàn bộ thiết bị Starlink của bạn thông qua một cổng thông tin duy nhất.</p>
                        <p class="my-3">Starlink sử dụng mã hóa đầu-cuối để bảo vệ dữ liệu và đảm bảo tính bảo mật của lưu lượng người dùng.</p>
                        <p class="my-3"></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: url('{% static 'img/home_feature3_d.webp' %}') no-repeat center center / cover;color: white;/*padding: 5% 0 20%;*/">
            <div class="row" style="padding: 35% 0 7%;">
                <div class="col-md-7 col-lg-7 col-xl-7 col-xxl-7 offset-md-2 offset-lg-0 offset-xl-1 col-xl-4 col-md-5 offset-md-3" style="padding: 0 5% 5% 5%;margin-left: 1px;">
                    <div>
                        <h1 class="text-uppercase fw-bold" style="white-space: normal;font-size: clamp(15px,2vw,30px);">THIẾT KẾ CHỊU ĐƯỢC MÔI TRƯỜNG KHẮC NGHIỆT</h1>
                        <p class="my-3">Starlink được thiết kế để lắp đặt cố định trên tàu và có khả năng chịu được điều kiện thời tiết khắc nghiệt như lạnh sâu, nóng bức, mưa đá, mưa lớn và cả gió bão.</p>
                        <p class="my-3">Hiện tại, Starlink đang được sử dụng để truyền hình ảnh chất lượng cao từ các vụ hạ cánh tên lửa của SpaceX trên biển, đảm bảo kết nối liên tục dù động cơ tạo ra lực đẩy lên tới 190.000 pound.</p><a class="btn btn-lg col-xl-5 text-uppercase" role="button" href="#" style="color: white;font-size: clamp(9px , 0.5vw,20px);text-align: start;width: auto;border: 1px solid white;font-weight: bold;">HỌC HỎI THÊM</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-4 gy-md-0" style="padding-top: 10%;">
            <div class="col-md-6"><img class="rounded img-fluid" src="{% static 'img/maritime_a_feature4_d.webp' %}" style="width: 100%;height: 100%;"></div>
            <div class="col-md-5 col-xxl-5 offset-xxl-0 d-md-flex align-items-md-center" style="margin-left: 5%;">
                <div>
                    <h2 class="text-uppercase fw-bold">DỄ DÀNG KẾT NỐI INTERNET</h2>
                    <p>Tích hợp Starlink với hệ thống mạng sẵn có trên tàu qua kết nối Ethernet trực tiếp hoặc sử dụng bộ định tuyến Wi-Fi đi kèm. Phiên bản Flat High Performance đi kèm với giá đỡ dễ lắp đặt. Xem hướng dẫn lắp đặt tại đây.</p>
                    <p>Tải ứng dụng Starlink để xác định vị trí lắp đặt tốt nhất trên tàu của bạn.</p>
                    <div class="row" style="text-align: start;"><a class="btn btn-lg col-xl-5" role="button" href="#" style="color: white;font-size: clamp(9px , 1vw,50px);text-align: start;width: auto;">TẢI XUỐNG CHO ANDROID<i class="fas fa-angle-right" style="margin-left: 10px;"></i></a><a class="btn btn-lg col-xl-5" role="button" href="#" style="color: white;font-size: clamp(9px , 1vw,20px);text-align: start;width: auto;">TẢI XUỐNG CHO IOS<i class="fas fa-angle-right" style="margin-left: 10px;"></i></a></div>
                </div>
            </div>
        </div>
        <div style="background: url('{% static 'img/fixedsite_a_hardware_d.webp' %}') no-repeat center center / cover;color: white;height: 800px;">
            <div class="row" style="padding-top: 7%;">
                <div class="col-md-3 col-lg-2 col-xl-2 col-xxl-2 offset-md-0"></div>
                <div class="col-md-6 col-lg-5 col-xl-6 col-xxl-6 offset-md-5 offset-lg-3 offset-xl-1 col-xl-4 col-md-5 offset-md-3 text-start justify-content-sm-center text-sm-center text-xl-start text-lg-start text-md-start" style="padding: 0 5% 5% 5%;margin-left: 1px;">
                    <div>
                        <h1 class="text-uppercase fw-bold" style="white-space: normal;font-size: clamp(15px,2vw,30px);">CÁI GÌ TRONG HỘP</h1><a href="#" style="font-size: 12px;text-align: center;height: auto;white-space: nowrap;">XEM THÔNG SỐ KỸ THUẬT<i class="fas fa-angle-right" style="margin-left: 10px;"></i></a>
                    </div>
                </div>
            </div>
            <div style="width: 100%;display: flex;justify-content: center;align-items: center;padding-top: 10%;">
                <div class="d-flex flex-nowrap align-items-center px-3" style="max-width: 80%;width: 100%;overflow: visible;"><button class="btn text-white" type="button" onclick="scrollContainer(-200, &#39;dragContainer&#39;)"><i class="fas fa-angle-left"></i></button>
                    <div id="dragContainer-3" class="drag-container" role="region" aria-label="Image carousel" style="/*padding-left: 15px;*//*margin-left: -15px;*//*align-items: center;*//*justify-content: center;*//*width: 91%;*/">
                        <div class="items-wrapper">
                            <div class="item"><img class="img-built1" src="{% static 'img/hardware_flathp_dish.webp' %}" alt="Starlink" loading="lazy">
                                <p class="text-center">STARLINK</p>
                            </div>
                            <div class="item"><img class="img-built1" src="{% static 'img/hardware_flathp_wedgemount.webp' %}" loading="lazy">
                                <p class="text-center">BỘ DỤNG CỤ NÊM</p>
                            </div>
                            <div class="item"><img class="img-built1" src="{% static 'img/hardware_flathp_powersupply.webp' %}" loading="lazy">
                                <p class="text-center">CUNG CẤP NĂNG LƯƠNG</p>
                            </div>
                            <div class="item"><img class="img-built1" src="{% static 'img/hardware_flathp_powersupplymount.webp' %}" loading="lazy">
                                <p class="text-center"><strong>CUNG CẤP NĂNG LƯƠNG</strong></p>
                            </div>
                            <div class="item"><img class="img-built1" src="{% static 'img/hardware_flathp_powersupplymount.webp' %}" loading="lazy">
                                <p class="text-center">CÁP&nbsp;STARLINK&nbsp;</p>
                            </div>
                            <div class="item"><img class="img-built1" src="{% static 'img/hardware_actuated_starlinkcable.webp' %}" loading="lazy">
                                <p class="text-center">EXTRA</p>
                            </div>
                        </div>
                    </div><button class="btn text-white" type="button" onclick="scrollContainer(200, &#39;dragContainer&#39;)"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 7%;">
            <div class="col-md-6 col-lg-6 col-xl-5 col-xxl-5 offset-md-0 offset-lg-1 offset-xl-1 col-xl-4 col-md-5 offset-md-3 text-md-start text-xxl-start text-xl-start text-lg-start text-sm-center text-xs-center">
                <div style="/*max-width: 350px;*/">
                    <h1 class="text-uppercase fw-bold" style="white-space: normal;font-size: clamp(15px,2vw,30px);">PHỤ KIỆN &amp; MOUNTS</h1>
                    <p class="my-3">Có sẵn trong Cửa hàng Starlink sau khi bạn mua</p>
                </div>
            </div>
            <div class="col-xxl-12">
                <div style="width: 100%;display: flex;justify-content: center;align-items: center;/*padding-top: 10%;*/">
                    <div class="d-flex flex-nowrap align-items-center px-3" style="width: 100%;max-width: 85%;overflow: visible;"><button class="btn text-white" type="button" onclick="scrollContainer(-200, &#39;dragContainer-2&#39;)"><i class="fas fa-angle-left"></i></button>
                        <div id="dragContainer-4" class="drag-container" role="region" aria-label="Image carousel" style="/*padding-left: 15px;*//*margin-left: -15px;*//*align-items: center;*//*justify-content: center;*//*width: 91%;*/">
                            <div class="items-wrapper" style="width: 100%;">
                                <div class="item"><img class="img-built" src="{% static 'img/accessories_flathp_pipe_adapter.webp' %}" alt="Starlink" width="350" height="350">
                                    <p class="text-center"> QUẢNG CÁO PIPE HIỆU SUẤT CAO </p>
                                </div>
                                <div class="item"><img class="img-built" src="{% static 'img/accessories_gen_3_router.webp' %}">
                                    <p class="text-center"> GEN 3 ROUTER </p>
                                </div>
                                <div class="item"><img class="img-built" src="{% static 'img/accessories_gen_3_router_mount.webp' %}">
                                    <p class="text-center"> GEN 3 ROUTER MOUNT </p>
                                </div>
                                <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_short_wall_mount.webp' %}">
                                    <p class="text-center">STARLINK CABLE&lt;</p>
                                </div>
                                <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_long_wall_mount.webp' %}">
                                    <p class="text-center">EXTRA</p>
                                </div>
                                <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_pivot_mount.webp' %}">
                                    <p class="text-center">EXTRA</p>
                                </div>
                                <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_ridgeline_mount.webp' %}">
                                    <p class="text-center">EXTRA</p>
                                </div>
                                <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_ground_pole_mount.webp' %}">
                                    <p class="text-center">EXTRA</p>
                                </div>
                            </div>
                        </div><button class="btn text-white" type="button" onclick="scrollContainer(200, &#39;dragContainer-2&#39;)"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <h3 style="padding: 10% 10% 1% 5%;">KHÁCH HÀNG NÓI GÌ VỀ CHÚNG TÔI</h3>
        <div class="row testimonial-row" style="padding: 5%;">
            <div class="col-md-12 col-xl-6 col-xxl-6 col-lg-6">
                <div class="testimonial-card">
                    <h2>KẾT NỐI CHO KHÁCH HÀNG</h2>
                    <p class="testimonial-text">"[Starlink] giúp đội ngũ tuyệt vời của chúng tôi giữ liên lạc với bạn bè, gia đình và người thân, đồng thời giúp khách hàng dễ dàng chia sẻ những khoảnh khắc và kỷ niệm đáng nhớ... Ngoài ra, băng thông độ trễ thấp còn cho phép 9 tuyến du lịch đẳng cấp thế giới của chúng tôi giới thiệu các dịch vụ và tính năng mới cho khách, cũng như hỗ trợ các hoạt động vận hành như giám sát thiết bị trên tàu và liên lạc thời gian thực giữa tàu và đội ngũ trên bờ."</p>
                    <p class="testimonial-author">- John Harshaw, Phó chủ tịch kết nối CNTT, cảng và điểm đến tại Carnival Cruise Line</p>
                </div>
            </div>
            <div class="col-md-12 col-xl-6 col-xxl-6 col-lg-6">
                <div class="testimonial-card">
                    <h2>GIẢI PHÁP MỚI</h2>
                    <p class="testimonial-text">"Triển khai dịch vụ băng thông cao, độ trễ thấp từ vệ tinh quỹ đạo thấp Starlink của SpaceX trên toàn đội tàu là cột mốc quan trọng trong việc giải quyết thách thức kết nối cho ngành có lực lượng lao động di động toàn cầu. Điều này giúp chúng tôi xem tàu như các văn phòng từ xa, hỗ trợ an toàn và phúc lợi cho thủy thủ đoàn – và mở ra khả năng phát triển những giải pháp từng bất khả thi về mặt kỹ thuật và tài chính chỉ vài năm trước."</p>
                    <p class="testimonial-author">- Torsten Pedersen, Giám đốc điều hành, Tập đoàn Seaspan</p>
                </div>
            </div>
        </div>
        <h3 style="padding: 11% 0 3% 3%;">XEM THÊM CÁC GÓI DỊCH VỤ STARLINK KHÁC</h3>
        <div class="row gy-4 gy-md-0" style="max-width: 100%;">
            <div class="col-11 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 offset-1 offset-sm-0 offset-md-1 offset-lg-1 offset-xl-1 khung_ngoai" style="padding: 0 15px 10px 0;min-height: 400px;margin-right: 10px;">
                <div class="row fixed_site" style="padding-top: 7%;background: url('{% static 'img/landmobility_a_fixedsite_d.webp' %}') no-repeat center center / cover;color: white;width: auto;height: 100%;">
                    <div class="col-sm-11 col-md-10 col-lg-10 col-xl-10 col-xxl-10 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1 offset-xxl-1 col-xl-4 col-md-5">
                        <div>
                            <h3 class="text-uppercase fw-bold" href="#" style="white-space: nowrap;">TRẠM cố định</h3>
                            <p class="my-3">Kết nối cho doanh nghiệp</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 offset-4 offset-sm-3 offset-md-10 offset-xl-0 khung_ngoai" style="padding: 0 0 10px 15px;min-height: 400px;margin-left: 10px;">
                <div class="row mobility" style="padding-top: 7%;background: url('{% static 'img/business_home_a_landmobility_d.webp' %}') no-repeat center center / cover;color: white;width: auto;height: 100%;">
                    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1 offset-xxl-1 col-xl-4 col-md-5">
                        <div>
                            <h3 class="text-uppercase fw-bold" href="#" style="white-space: nowrap;">Di động TRÊN ĐẤT LIỀN</h3>
                            <p class="my-3">Kết nối chuyển động trên đất liền</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mb-2" style="padding-top: 10%;">
                <div class="col-md-8 col-xl-6 text-center mx-auto" style="color: white;">
                    <h2 class="display-6 fw-bold">THỬ 30 NGÀY</h2>
                    <p>Hãy thử Starlink trong 30 ngày và nếu không hài lòng, hãy hoàn lại tiền đầy đủ.</p>
                </div>
            </div>
            <form class="d-flex justify-content-center flex-wrap align-items-end row" method="post" layber="">
                <div class="row">
                    <div class="col-sm-7 col-md-5 col-lg-5 col-xl-5 col-xxl-4 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-3 offset-xxl-3 col-12" style="margin-top: 10px;"><label class="form-label" for="email-2">Địa chỉ dịch vụ</label>
                        <div class="input-group" style="background-color: hsla(0, 0%, 100%, .15);"><input class="form-control" type="text" id="email-2" name="text" placeholder="NHẬP VÀ CHỌN" style="background-color: hsla(0, 0%, 100%, .15);color: white;caret-color: #fff;border: none;"><button class="btn" type="button" style="background-color: hsla(0, 0%, 100%, .15);background-image: url('{% static 'img/circular-target-shooting-interface-symbol.png' %}');background-position: center;background-repeat: no-repeat;padding-right: 25px;border: none;"></button></div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-2 offset-xxl-0 col-12 justify-content-end d-flex flex-column"><button class="btn w-100 w-md-auto d-block" type="submit" style="color: black;background-color: white;height: auto;margin-top: 10px;width: auto;font-weight: 700;">Đặt hàng ngay</button></div>
                </div>
            </form>
        </div>
    </div>
    <footer class="text-white" style="background-color: black;padding-top: 5%;">
        <div class="container">
            <div class="row mb-2" style="padding-top: 10%;">
                <div class="col-md-8 col-xl-6 text-center mx-auto" style="color: white;">
                    <h2 class="display-6 fw-bold text-uppercase">Liên Hệ Với Chúng Tôi!</h2>
                    <p>Tìm hiểu cách Starlink Direct to Cell có thể mở rộng mạng lưới của bạn.</p>
                    <div class="d-flex justify-content-center" style="padding: 5%;"><button class="btn w-100 w-md-auto d-block text-uppercase" type="submit" style="color: black;background-color: white;height: auto;margin-top: 10px;width: auto;font-size: smaller;max-width: 200px;font-weight: bold;">Nhận TOUCH</button></div>
                </div>
            </div>
        </div>
        <footer class="text-white" style="background-color: black;padding-top: 5%;">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row align-items-center order-2 order-lg-0" style="/*white-space: nowrap;*/font-size: 13px;"><a href="#">Nghề nghiệp</a><a href="#">Nhà điều hành vệ tinh</a><a href="#">Nhà phân phối được ủy quyền</a><a href="#">Quyền riêng tư &amp; pháp lý</a><a href="#">Tùy chọn quyền riêng tư</a></div>
                    <div class="col-12 col-lg-6 text-lg-end d-flex flex-column flex-lg-row justify-content-lg-end align-items-center order-1 order-lg-0 align-items-lg-start"><span class="me-md-3" style="font-size: 11px;padding: 10px 0;">Quan tâm đến việc cập nhật với Starlink? </span>
                        <div class="input-signup-wrapper" style="width: auto;">
                            <div class="d-flex flex-nowrap flex-row"><input type="email" id="input_email_built" class="email-input" placeholder="Email" style="font-size: 12px;background-color: black;color: white;border-top-style: none;border-right-style: none;border-bottom: 1px solid white;border-left-style: none;width: 100%;"><a class="text-uppercase" href="#" style="font-size: 12px;padding-left: 15px;text-align: center;height: auto;white-space: nowrap;">Đăng ký&nbsp;<i class="fas fa-angle-right" style="margin-left: 10px;"></i></a></div>
                            <p class="mb-0 privacy-text" style="font-size: 11px;padding: 10px 0;">Bằng cách nhấp vào Đăng ký, bạn đồng ý với Chính sách Quyền riêng tư của chúng tôi.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-start"><img class="me-2" src="{% static 'img/Menu_X.svg' %}" style="padding: 5px 0;"><span class="me-2" style="margin: 5px;white-space: nowrap;">Starlink © 2025</span><span class="me-2" style="margin: 5px;white-space: nowrap;">Starlink là một bộ phận của SpaceX. Truy cập tại spacex.com</span></div>
            </div>
        </footer>
    </footer>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/built.js' %}"></script>
    <script src="{% static 'assets/js/hearder.js' %}"></script>
    <script src="{% static 'assets/js/banner.js' %}"></script>
    <script src="{% static 'assets/js/Media-Slider-Bootstrap-3-media.slider.js' %}"></script>
    <script src="{% static 'assets/js/Simple-Slider-swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/Simple-Slider.js' %}"></script>
    <script src="{% static 'assets/js/dathang.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v10.2.0/dist/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js&quot; integrity=&quot;sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==&quot; crossorigin=&quot;anonymous&quot; referrerpolicy=&quot;no-referrer"></script>
    <script src="{% static 'assets/js/map.js' %}"></script>
    <script src="{% static 'assets/js/order.js' %}"></script>
</body>

</html>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/hearder.js' %}"></script>
{% endblock %}