{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Starlink Clone</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark-Multi-Column-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Hero-Carousel-images.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-4.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-11.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Media-Slider-Bootstrap-3-media.slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Media-Slider-Bootstrap-3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider-swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-10.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-12.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-6.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-7.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-9.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/Pricing-Yearly--Monthly-badges.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled.css' %}">
</head>

<body>
    <section class="py-4 py-xl-5" style="background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.88)), url('{% static 'img/help_center_hero.webp' %}') no-repeat center center /cover;min-height: 500px;">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="padding: clamp(20px,1vw,50px) clamp(24px, 4vw, 60px);">
            <div class="container-fluid" style="justify-content: space-between;"><a class="navbar-brand fw-bold" href="{% url 'index' %}" style="max-width: 180px;"><img src="{% static 'img/logo_white.png' %}" style="max-width: 180px;" width="180" height="30"></a>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav-1" style="margin: 0 4% 0 5%;text-align: center;font-weight: bold;">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-white left text-uppercase" href="{% url 'residential' %}">Khu dân cư</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'roam' %}">CHUYỂN VÙNG</a></li>
                    </ul>
                    <div class="d-flex align-items-center"><a class="text-white text-decoration-none text-uppercase" href="{% url 'index' %}" style="white-space: nowrap;margin-right: 1%;">Cá nhân&nbsp;</a><span style="margin: 0 3px;color: white;">|</span><a class="text-white text-decoration-none text-uppercase" href="{% url 'business' %}" style="margin-left: 1%;white-space: nowrap;">DOANH NGHIỆP</a></div>
                </div><button class="btn menuToggle" id="menuToggle-1" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" style="width: 30px;height: 40px;color: white;">

                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 4.44772 3.44772 4 4 4H16C16.5523 4 17 4.44772 17 5C17 5.55228 16.5523 6 16 6H4C3.44772 6 3 5.55228 3 5Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10C3 9.44772 3.44772 9 4 9H16C16.5523 9 17 9.44772 17 10C17 10.5523 16.5523 11 16 11H4C3.44772 11 3 10.5523 3 10Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 15C3 14.4477 3.44772 14 4 14H16C16.5523 14 17 14.4477 17 15C17 15.5523 16.5523 16 16 16H4C3.44772 16 3 15.5523 3 15Z" fill="currentColor"></path>
                    </svg></button>
            </div>
        </nav>
        <div class="offcanvas-backdrop fade overlay" style="display: none;background-color: #f0f8ffd4;"></div>
        <div class="offcanvas offcanvas-end text-bg-dark sidebar" tabindex="-1" aria-labelledby="sidebarLabel" style="width: 250px;font-size: small;">
            <div class="offcanvas-header"><button class="btn close-btn text-white close_btn" id="close_btn" type="button">X</button></div>
            <div class="offcanvas-body">
                <div class="d-flex flex-column text-uppercase" style="font-weight: bold;">
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="#">VN</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'sign_in' %}">Đăng nhập</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'help_center' %}">Trung tâm trợ giúp</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'map' %}">Bản đồ vùng phủ sóng</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'specifications' %}">Thông số kỹ thuật</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'service_plans' %}">Gói dịch vụ</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'video_guides' %}">Video hướng dẫn</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'technology' %}">Công nghệ</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'update' %}">Cập nhật</a>
                </div>
            </div>
        </div>
        <div class="main text-white d-flex flex-row" style="padding-top: 12%;">
            <div class="row">
                <div class="col-md-6 col-lg-3 offset-lg-1" style="font-weight: 600;">
                    <div class="d-flex flex-row text-white justify-content-between text-center align-items-center" style="padding: 5%;font-size: large;font-weight: bold;"><span>Trang chủ Trung tâm Trợ giúp</span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8.77217L14.0208 1.79299C12.8492 0.621414 10.9497 0.621413 9.77817 1.79299L3 8.57116V23.0858H10V17.0858C10 15.9812 10.8954 15.0858 12 15.0858C13.1046 15.0858 14 15.9812 14 17.0858V23.0858H21V8.77217ZM11.1924 3.2072L5 9.39959V21.0858H8V17.0858C8 14.8767 9.79086 13.0858 12 13.0858C14.2091 13.0858 16 14.8767 16 17.0858V21.0858H19V9.6006L12.6066 3.2072C12.2161 2.81668 11.5829 2.81668 11.1924 3.2072Z" fill="currentColor"></path>
                        </svg></div>
                    <div class="d-flex flex-row text-white justify-content-between text-center align-items-center" style="padding: 5%;font-size: initial;"><span>Tài khoản</span><i class="fas fa-chevron-right"></i></div>
                    <div class="d-flex flex-row text-white justify-content-between text-center align-items-center" style="padding: 5%;font-size: initial;"><span>Thanh toán</span><i class="fas fa-chevron-right"></i></div>
                    <div class="d-flex flex-row text-white justify-content-between text-center align-items-center" style="padding: 5%;font-size: initial;"><span>Đơn hàng</span><i class="fas fa-chevron-right"></i></div>
                    <div class="d-flex flex-row text-white justify-content-between text-center align-items-center" style="padding: 5%;font-size: initial;"><span>Gói dịch vụ</span><i class="fas fa-chevron-right"></i></div>
                    <div class="d-flex flex-row text-white justify-content-between text-center align-items-center" style="padding: 5%;font-size: initial;"><span>Cài đặt &amp; Lắp đặt</span><i class="fas fa-chevron-right"></i></div>
                    <div class="d-flex flex-row text-white justify-content-between text-center align-items-center" style="padding: 5%;font-size: initial;"><span class="text-start">Thông số kỹ thuật &amp; Cấu hình</span><i class="fas fa-chevron-right"></i></div>
                    <div class="d-flex flex-row text-white justify-content-between text-center align-items-center" style="padding: 5%;font-size: initial;"><span>Khắc phục sự cố</span><i class="fas fa-chevron-right"></i></div>
                </div>
                <div class="col-md-6 col-lg-7 col-xxl-7">
                    <div style="background: url('assets/img/help_center_hero.webp') no-repeat center center / cover;color: white;">
                        <div class="d-flex flex-column justify-content-center align-items-center" style="padding: 15%;">
                            <h3 class="text-uppercase fw-bold">TRUNG TÂM TRỢ GIÚP STARLINK</h3>
                            <p>Thông tin, hướng dẫn và tài nguyên để giúp bạn kết nối.</p>
                            <p style="padding-bottom: 5%;">Đăng nhập để nhận hỗ trợ nâng cao.</p>
                            <div class="input-group" style="background-color: #121212;"><input class="form-control" type="text" id="text_input_built" name="text" placeholder="Tìm kiếm bài viết hỗ trợ" style="background-color: hsla(0, 0%, 100%, .15);color: #ffffff;caret-color: #fff;border: none;"><button class="btn" type="button" style="background-color: hsla(0, 0%, 100%, .15);background-position: center;background-repeat: no-repeat;padding-right: 25px;border: none;"><i class="fas fa-search" style="color: rgba(255,255,255,0.5);"></i></button></div>
                        </div>
                    </div>
                    <div>
                        <h3>Tài nguyên</h3>
                        <div class="row gy-4 gy-md-0 text-white" style="padding: 5% 0;background-color: black;">
                            <div class="col col-4"><img class="rounded img-fluid" src="{% static 'img/help_center_resources_video_guides.webp' %}" style="width: 100%;height: 100%;">
                                <h6>Video Hướng Dẫn</h6>
                            </div>
                            <div class="col col-4"><img class="rounded img-fluid" src="{% static 'img/help_center_resources_specifications.webp' %}" style="width: 100%;height: 100%;">
                                <h6>Thông Số Kỹ Thuật</h6>
                            </div>
                            <div class="col col-4"><img class="rounded img-fluid" src="{% static 'img/help_center_resources_starlink_app.webp' %}" style="width: 100%;height: 100%;">
                                <h6>Ứng Dụng Starlink</h6>
                            </div>
                            <div></div>
                        </div>
                        <h4 style="padding: 8% 0 2% 0;">Frequently Asked Questions</h4>
                        <p><span style="text-decoration: underline;">Liên hệ với Bộ phận Hỗ trợ Khách hàng Starlink</span></p>
                        <p><span style="text-decoration: underline;">Làm cách nào để tải ứng dụng Starlink?</span></p>
                        <p><span style="text-decoration: underline;">Các gói dịch vụ của Starlink là gì?</span></p>
                        <p><span style="text-decoration: underline;">Làm sao để tôi thay đổi gói dịch vụ của mình?</span></p>
                        <p><span style="text-decoration: underline;">Trong bộ Starlink của tôi có những gì?</span></p>
                        <p><span style="text-decoration: underline;">Làm sao để tôi thiết lập Starlink?</span></p>
                        <h4 style="padding: 8% 0 2% 0;">Liên hệ Hỗ trợ</h4>
                        <p>Không tìm thấy điều bạn đang cần? Hãy liên hệ với bộ phận hỗ trợ khách hàng.</p><button class="btn text-white" type="button">Liên hệ Hỗ trợ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-white" style="background-color: black;">
        <footer class="text-white" style="background-color: black;padding-top: 5%;">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row align-items-center order-2 order-lg-0" style="/*white-space: nowrap;*/font-size: 13px;"><a href="#">Nghề nghiệp</a><a href="#">Nhà điều hành vệ tinh</a><a href="#">Nhà phân phối được ủy quyền</a><a href="#">Quyền riêng tư &amp; pháp lý</a><a href="#">Tùy chọn quyền riêng tư</a></div>
                </div>
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-start"><img class="me-2" src="{% static 'img/Menu_X.svg' %}" style="padding: 5px 0;"><span class="me-2" style="margin: 5px;white-space: nowrap;">Starlink © 2025</span><span class="me-2" style="margin: 5px;white-space: nowrap;">Starlink là một bộ phận của SpaceX. Truy cập tại spacex.com</span></div>
            </div>
        </footer>
    </footer>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/built.js' %}"></script>
    <script src="{% static 'js/hearder.js' %}"></script>
    <script src="{% static 'assets/js/banner.js' %}"></script>
    <script src="{% static 'assets/js/Media-Slider-Bootstrap-3-media.slider.js' %}"></script>
    <script src="{% static 'assets/js/Simple-Slider-swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/Simple-Slider.js' %}"></script>
    <script src="{% static 'assets/js/dathang.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v10.2.0/dist/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js&quot; integrity=&quot;sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==&quot; crossorigin=&quot;anonymous&quot; referrerpolicy=&quot;no-referrer"></script>
    <script src="{% static 'assets/js/map.js' %}"></script>
    <script src="{% static 'assets/js/order.js' %}"></script>
</body>

</html>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/hearder.js' %}"></script>
{% endblock %}