{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Starlink Clone</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark-Multi-Column-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Hero-Carousel-images.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-4.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-11.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Media-Slider-Bootstrap-3-media.slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Media-Slider-Bootstrap-3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider-swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-10.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-12.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-6.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-7.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled-9.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/Pricing-Yearly--Monthly-badges.css' %}">
    <link rel="stylesheet" href="{% static 'css/untitled.css' %}">
</head>

<body>
    <section class="py-4 py-xl-5" style="background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.88)), url('{% static 'img/residential_b_hero_d.webp' %}') no-repeat center center /cover;min-height: 500px;">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="padding: clamp(20px,1vw,50px) clamp(24px, 4vw, 60px);">
            <div class="container-fluid" style="justify-content: space-between;"><a class="navbar-brand fw-bold" href="{% url 'index' %}" style="max-width: 180px;"><img src="{% static 'img/logo_white.png' %}" style="max-width: 180px;" width="180" height="30"></a>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav-2" style="margin: 0 4% 0 5%;text-align: center;font-weight: bold;">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link text-white left text-uppercase" href="{% url 'residential' %}">Khu dân cư</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'roam' %}">CHUYỂN VÙNG</a></li>
                    </ul>
                    <div class="d-flex align-items-center"><a class="text-white text-decoration-none text-uppercase" href="#" style="white-space: nowrap;margin-right: 1%;"><span style="text-decoration: underline;">Cá nhân&nbsp;</span></a><span style="margin: 0 3px;color: white;">|</span><a class="text-white text-decoration-none text-uppercase" href="{% url 'business' %}" style="margin-left: 1%;white-space: nowrap;">DOANH NGHIỆP</a></div>
                </div><button class="btn menuToggle" id="menuToggle" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none" style="width: 30px;height: 40px;color: white;">

                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 4.44772 3.44772 4 4 4H16C16.5523 4 17 4.44772 17 5C17 5.55228 16.5523 6 16 6H4C3.44772 6 3 5.55228 3 5Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10C3 9.44772 3.44772 9 4 9H16C16.5523 9 17 9.44772 17 10C17 10.5523 16.5523 11 16 11H4C3.44772 11 3 10.5523 3 10Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 15C3 14.4477 3.44772 14 4 14H16C16.5523 14 17 14.4477 17 15C17 15.5523 16.5523 16 16 16H4C3.44772 16 3 15.5523 3 15Z" fill="currentColor"></path>
                    </svg></button>
            </div>
        </nav>
        <div class="main">
            <p style="margin-top: 40px;text-align: center;color: white;font-size: clamp(20px, 5vw, 60px);/*font-weight: 600;*/margin-bottom: 0rem;padding-top: 10%;"><strong>STARLINK CHO HỘ GIA ĐÌNH</strong></p>
            <p style="text-align: center;color: white;width: auto;font-size: clamp(8px, 3vw, 23px);height: auto;font-weight: 600;margin-bottom: auto;"><strong>Internet tốc độ cao đáng tin cậy, dù bạn sống ở đâu.</strong><br><strong>Giá bắt đầu từ 80 USD/tháng, với chi phí thiết bị là 349 USD.</strong></p>
            <div class="justify-content-center flex-row" style="display: flex;"></div>
        </div>
        <form class="d-flex justify-content-center flex-wrap align-items-end row" method="post" layber="">
            <div class="row text-white" style="margin-top: clamp(10%,1vh,15%);">
                <div class="col-sm-7 col-md-5 col-lg-5 col-xl-5 col-xxl-4 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-3 offset-xxl-3 col-12"><label class="form-label" for="email-1">Địa chỉ dịch vụ</label>
                    <div class="input-group" style="background-color: hsla(0, 0%, 100%, .15);"><input class="form-control" type="text" id="email-1" name="text" placeholder="LOẠI VÀ CHỌN" style="background-color: hsla(0, 0%, 100%, .15);color: white;caret-color: #fff;border: none;"><button class="btn" type="button" style="background-color: hsla(0, 0%, 100%, .15);background-image: url('{% static 'img/circular-target-shooting-interface-symbol.png' %}');background-position: center;background-repeat: no-repeat;padding-right: 25px;border: none;"></button></div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-2 offset-xxl-0 col-12 justify-content-end d-flex flex-column"><button class="btn w-100 w-md-auto d-block" type="submit" style="color: black;background-color: white;height: auto;margin-top: 10px;width: auto;">ĐẶT HÀNG NGAY </button></div>
            </div><a class="text-center" href="map.html" style="white-space: nowrap;"><br>XEM BẢN ĐỒ SẴN CÓ &amp; TỐC ĐỘLINK<i class="fas fa-chevron-right" style="margin-left: 1%;"></i></a>
        </form>
        <div class="offcanvas-backdrop fade overlay" style="display: none;background-color: #f0f8ffd4;"></div>
        <div class="offcanvas offcanvas-end text-bg-dark sidebar" tabindex="-1" aria-labelledby="sidebarLabel" style="width: 250px;font-size: small;">
            <div class="offcanvas-header"><button class="btn close-btn text-white close_btn" id="close_btn-1" type="button">X</button></div>
            <div class="offcanvas-body">
                <div class="d-flex flex-column text-uppercase" style="font-weight: bold;">
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="#">VN</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'sign_in' %}">Đăng nhập</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'help_center' %}">Trung tâm trợ giúp</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'map' %}">Bản đồ vùng phủ sóng</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'specifications' %}">Thông số kỹ thuật</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'service_plans' %}">Gói dịch vụ</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'video_guides' %}">Video hướng dẫn</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'technology' %}">Công nghệ</a>
                    <a class="py-2 text-decoration-none text-white border-bottom border-secondary" href="{% url 'update' %}">Cập nhật</a>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-nav text-uppercase" style="padding: clamp(20px,1vw,50px) clamp(24px, 2vw, 60px);background-color: #303030;color: var(--on-surface-color);">
        <div class="container-fluid" style="text-align: center;justify-content: space-between;"><a class="navbar-brand fw-bold text-white" href="#" style="max-width: 180px;"><span class="t">Khu dân cư</span></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link text-white left" href="#" style="font-weight: 700;">Kế hoạch dịch vụ</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'specifications' %}" style="font-weight: 700;">THÔNG SỐ KỸ THUẬT</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'help_center' %}" style="font-weight: 700;">Câu hỏi thường gặp</a></li>
                    <li class="nav-item" style="display: flex;justify-content: center;align-items: center;"><button class="btn" type="button" style="border: 1px solid white;background-color: white;color: black;font-weight: bolder;font-size: small;"> ĐẶT HÀNG NGAY </button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="background: url('{% static 'img/residential_a_feature1_d.webp' %}') no-repeat center center / cover;color: white;padding: 5% 0 20%;">
        <div class="row" style="padding-top: 7%;">
            <div class="col-md-5 col-lg-6 col-xl-5 col-xxl-6 offset-lg-1 offset-xl-1 col-xl-4 col-md-5 offset-md-3" style="padding: 0 5% 5% 5%;">
                <div>
                    <h1 class="text-uppercase fw-bold" style="white-space: nowrap;">INTERNET TỐC ĐỘ CAO&nbsp;</h1>
                    <h1 class="text-uppercase fw-bold" style="white-space: nowrap;">KHÔNG CÓ VẤN ĐỀ NÀO</h1>
                    <p class="my-3">Tham gia vào các hoạt động trong lịch sử không thể thực hiện được với internet vệ tinh. Được thực hiện thông qua chòm sao lớn nhất thế giới của các vệ tinh tiên tiến hoạt động trên quỹ đạo thấp quanh Trái đất.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background: url('{% static 'img/residentaial_illustriation2_d.webp' %}') no-repeat right center / 70%;color: white;background-attachment: fixed;background-color: black;padding: 10% 0;">
        <div class="row gy-4 gy-md-0" style="padding: 4%;">
            <div class="col-md-6"><img class="rounded img-fluid" src="{% static 'img/home_a_install_d.jpg' %}" style="width: 100%;height: 100%;"></div>
            <div class="col-md-5 col-xxl-5 offset-xxl-0 d-md-flex align-items-md-center" style="margin-left: 5%;">
                <div>
                    <h2 class="text-uppercase fw-bold">THIẾT KẾ CHO TỰ TIN</h2>
                    <p>Thiết lập Starlink chỉ với hai bước. Hướng dẫn làm việc theo một trong hai thứ tự:</p><span><strong><span style="color: rgb(250, 250, 250); background-color: rgb(0, 0, 0);">|&nbsp;</span>1 VÒI</strong></span><span><br><strong><span style="color: rgb(250, 250, 250); background-color: rgb(0, 0, 0);">| 2 POINT AT SKY</span></strong><br><br></span>
                    <p>Starlink đòi hỏi một cái nhìn không bị cản trở của bầu trời. Tải xuống ứng dụng Starlink để xác định vị trí cài đặt tốt nhất của bạn.</p>
                    <div class="row" style="text-align: start;"><a class="btn btn-lg col-xl-5" role="button" href="#" style="color: white;font-size: clamp(9px , 1vw,50px);text-align: start;width: auto;">TẢI XUỐNG CHO ANDROID<i class="fas fa-angle-right" style="margin-left: 10px;"></i></a><a class="btn btn-lg col-xl-5" role="button" href="#" style="color: white;font-size: clamp(9px , 1vw,20px);text-align: start;width: auto;">TẢI XUỐNG CHO IOS<i class="fas fa-angle-right" style="margin-left: 10px;"></i></a></div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="border rounded overflow-hidden" style="margin: 4% 4% 0;">
            <div class="row g-0">
                <div class="col-md-6 col-xl-5 col-xxl-5 offset-xxl-0 align-items-center d-flex">
                    <div class="text-white p-4 p-md-4">
                        <h2 class="fw-bold text-white mb-3 text-uppercase">Dữ liệu không giới hạn có sẵn</h2>
                        <p class="mb-4">Các gói dịch vụ dân cư Starlink bao gồm các tùy chọn dữ liệu tốc độ cao, không giới hạn cho ngôi nhà của bạn.</p>
                        <div class="my-3"></div>
                    </div>
                </div>
                <div class="col-md-6 offset-xl-1 order-first order-md-last"><img class="rounded img-fluid w-100 fit-cover" src="{% static 'img/residential_a_feature3_d.webp' %}" style="width: 100%;height: 100%;"></div>
            </div>
        </div>
    </div>
    <div style="background: url('{% static 'img/residential_a_weather_d.webp' %}') no-repeat center center / cover;color: white;padding: 5% 0 20%;">
        <div class="row" style="padding-top: 7%;">
            <div class="col-md-9 col-lg-6 col-xl-6 col-xxl-6 offset-md-0 offset-lg-6 offset-xl-6 offset-xxl-6 col-xl-4 col-md-5" style="padding: 5% 5% 5% 5%;">
                <div>
                    <h1 class="text-uppercase fw-bold">ĐẠI DIỆN THỜI TIẾT</h1>
                    <p class="my-3">Starlink được thiết kế để chịu đựng các yếu tố - nó có thể làm tan tuyết và chịu được mưa đá, mưa lớn và gió mạnh.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background: url('{% static 'img/residential_a_hardware_d.webp' %}') no-repeat center center / cover;color: white;height: 800px;">
        <div class="row" style="padding-top: 7%;">
            <div class="col-md-3 col-lg-2 col-xl-2 col-xxl-2 offset-md-0"></div>
            <div class="col-md-6 col-lg-5 col-xl-6 col-xxl-6 offset-md-5 offset-lg-3 offset-xl-1 col-xl-4 col-md-5 offset-md-3 text-start justify-content-sm-center text-sm-center text-xl-start text-lg-start text-md-start" style="padding: 0 5% 5% 5%;margin-left: 1px;">
                <div>
                    <h1 class="text-uppercase fw-bold" style="white-space: normal;font-size: clamp(15px,2vw,30px);">CÁI GÌ TRONG HỘP TIÊU CHUẨN</h1>
                    <p class="my-3">Starlink Kit đến với mọi thứ bạn cần để lên mạng trong vài phút.</p><a href="specifications.html" style="font-size: 12px;text-align: center;height: auto;white-space: nowrap;">THÔNG SỐ KỸ THUẬT XEM<i class="fas fa-angle-right" style="margin-left: 10px;"></i></a>
                </div>
            </div>
        </div>
        <div style="width: 100%;display: flex;justify-content: center;align-items: center;padding-top: 10%;">
            <div class="d-flex flex-nowrap align-items-center px-3" style="max-width: 55%;width: 100%;overflow: visible;"><button class="btn text-white" type="button" onclick="scrollContainer(-200, 'dragContainer')"><i class="fas fa-angle-left"></i></button>
                <div id="dragContainer" class="drag-container" role="region" aria-label="Image carousel" style="/*padding-left: 15px;*//*margin-left: -15px;*//*align-items: center;*//*justify-content: center;*//*width: 91%;*/">
                    <div class="items-wrapper">
                        <div class="item"><img class="img-built1" src="{% static 'img/hardware_actuated_dish.webp' %}" alt="Starlink" loading="lazy">
                            <p class="text-center">STARLINK</p>
                        </div>
                        <div class="item"><img class="img-built1" src="{% static 'img/hardware_actuated_accable.webp' %}" loading="lazy">
                            <p class="text-center">CÁP AC</p>
                        </div>
                        <div class="item"><img class="img-built1" src="{% static 'img/hardware_actuated_base.webp' %}" loading="lazy">
                            <p class="text-center">CƠ SỞ</p>
                        </div>
                        <div class="item"><img class="img-built1" src="{% static 'img/hardware_actuated_router.webp' %}" loading="lazy">
                            <p class="text-center">STARLINK CABLE&lt;</p>
                        </div>
                        <div class="item"><img class="img-built1" src="{% static 'img/hardware_actuated_starlinkcable.webp' %}" loading="lazy">
                            <p class="text-center">EXTRA</p>
                        </div>
                    </div>
                </div><button class="btn text-white" type="button" onclick="scrollContainer(200, 'dragContainer')"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
    <div style="background: url('{% static 'img/residentaial_illustriation3_d.webp' %}') no-repeat calc(100% - 30%) center / 50%;color: white;background-attachment: fixed;background-color: black;/*height: 700px;*/">
        <section class="newsletter-subscribe py-4 py-xl-5">
            <div class="row" style="padding-top: 7%;">
                <div class="col-md-6 col-lg-6 col-xl-5 col-xxl-5 offset-md-0 offset-lg-1 offset-xl-1 col-xl-4 col-md-5 offset-md-3 text-md-start text-xxl-start text-xl-start text-lg-start text-sm-center text-xs-center">
                    <div style="/*max-width: 350px;*/">
                        <h1 class="text-uppercase fw-bold" style="white-space: normal;font-size: clamp(15px,2vw,30px);">PHỤ KIỆN &amp; MOUNTS</h1>
                        <p class="my-3">Có sẵn trong Cửa hàng Starlink sau khi bạn mua</p>
                    </div>
                </div>
                <div class="col-xxl-12">
                    <div style="width: 100%;display: flex;justify-content: center;align-items: center;/*padding-top: 10%;*/">
                        <div class="d-flex flex-nowrap align-items-center px-3" style="width: 100%;max-width: 85%;overflow: visible;"><button class="btn text-white" type="button" onclick="scrollContainer(-200, 'dragContainer-2')"><i class="fas fa-angle-left"></i></button>
                            <div id="dragContainer-2" class="drag-container" role="region" aria-label="Image carousel" style="/*padding-left: 15px;*//*margin-left: -15px;*//*align-items: center;*//*justify-content: center;*//*width: 91%;*/">
                                <div class="items-wrapper" style="width: 100%;">
                                    <div class="item"><img class="img-built" src="{% static 'img/accessories_ethernet_adapter.webp' %}" alt="Starlink">
                                        <p class="text-center">QUẢNG CÁO INTERNET</p>
                                    </div>
                                    <div class="item"><img class="img-built" src="{% static 'img/accessories_mesh_wifi_router.webp' %}">
                                        <p class="text-center">MESH WIFI ROUTER </p>
                                    </div>
                                    <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_ground_pole_mount.webp' %}">
                                        <p class="text-center">PIPE QUẢNG CÁO </p>
                                    </div>
                                    <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_short_wall_mount.webp' %}">
                                        <p class="text-center">STARLINK CABLE&lt;</p>
                                    </div>
                                    <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_long_wall_mount.webp' %}">
                                        <p class="text-center">EXTRA</p>
                                    </div>
                                    <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_pivot_mount.webp' %}">
                                        <p class="text-center">EXTRA</p>
                                    </div>
                                    <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_ridgeline_mount.webp' %}">
                                        <p class="text-center">EXTRA</p>
                                    </div>
                                    <div class="item"><img class="img-built" src="{% static 'img/accessories_actuated_ground_pole_mount.webp' %}">
                                        <p class="text-center">EXTRA</p>
                                    </div>
                                </div>
                            </div><button class="btn text-white" type="button" onclick="scrollContainer(200, 'dragContainer-2')"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-4 py-xl-5">
                <div class="row mb-5" style="padding-top: 5%;">
                    <div class="col-xxl-12">
                        <h4>KHÁCH HÀNG CỦA CHÚNG TÔI ĐÃ NÓI GÌ</h4>
                    </div>
                </div>
                <div class="row testimonial-row">
                    <div class="col-md-12 col-xl-4 col-xxl-4 col-lg-4">
                        <div class="testimonial-card">
                            <h2 class="text-uppercase">Độ Độ trễ thấp</h2>
                            <p class="testimonial-text">"Đó là một thế giới hoàn toàn khác ...Trước Starlink, chúng tôi phải phân phối dữ liệu và chúng tôi không thể truyền phát. Bây giờ chúng tôi có các tệp tải xuống, chơi Pandora, Phóng to và không có độ trễ nào. "</p>
                            <p class="testimonial-author">- William D. từ Colorado, Hoa Kỳ</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 col-xxl-4 col-lg-4">
                        <div class="testimonial-card">
                            <h2 class="text-uppercase">Thay đổi trò chơi</h2>
                            <p class="testimonial-text">"Người thay đổi trò chơi tuyệt đối! Không có gì quá đáng và thiếu hiểu biết như nhà cung cấp chậm cũ của chúng tôi. Cắm nó vào và cho Dishy bầu trời, thế thôi! Trong vòng chưa đầy 5 phút, chúng tôi đã đi từ quên để có kết nối internet nhanh nhất trong khu vực. "</p>
                            <p class="testimonial-author">- Aaron W. từ miền Nam nước Anh</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 col-xxl-4 col-lg-4">
                        <div class="testimonial-card">
                            <h2 class="text-uppercase">Nhanh chóng</h2>
                            <p class="testimonial-text">"Hàng triệu người không được kết nối với Internet — chúng tôi rất vui mừng khi nói rằng chúng tôi không còn nằm trong số đó nữa. Nhanh chóng và trực tuyến trong vài phút, Starlink kết thúc hành trình sáu năm. "</p>
                            <p class="testimonial-author">- Neil V. từ New South Wales Úc</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb-2" style="padding-top: 10%;">
                    <div class="col-md-8 col-xl-6 text-center mx-auto" style="color: white;">
                        <h2 class="display-6 fw-bold">THỬ 30 NGÀY</h2>
                        <p>Hãy thử Starlink trong 30 ngày và nếu không hài lòng, hãy hoàn lại tiền đầy đủ.</p>
                    </div>
                </div>
                <form class="d-flex justify-content-center flex-wrap align-items-end row" method="post" layber="">
                    <div class="row">
                        <div class="col-sm-7 col-md-5 col-lg-5 col-xl-5 col-xxl-4 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-3 offset-xxl-3 col-12" style="margin-top: 10px;"><label class="form-label" for="email">Địa chỉ dịch vụ</label>
                            <div class="input-group" style="background-color: hsla(0, 0%, 100%, .15);"><input class="form-control" type="text" id="email" name="text" placeholder="TYPE AND SELECT" style="background-color: hsla(0, 0%, 100%, .15);color: white;caret-color: #fff;border: none;"><button class="btn" type="button" style="background-color: hsla(0, 0%, 100%, .15);background-image: url('{% static 'img/circular-target-shooting-interface-symbol.png' %}');background-position: center;background-repeat: no-repeat;padding-right: 25px;border: none;"></button></div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-2 offset-xxl-0 col-12 justify-content-end d-flex flex-column"><button class="btn w-100 w-md-auto d-block" type="submit" style="color: black;background-color: white;height: auto;margin-top: 10px;width: auto;font-weight: 700;">Đặt hàng ngay</button></div>
                    </div>
                </form>
                <div style="height: 100%;text-align: center;"><a class="btn btn-lg col-xl-5" role="button" href="map.html" style="color: white;font-size: clamp(9px , 1vw,50px);text-align: start;width: auto;">Xem Bản đồ sẵn có &amp; tốc độ<i class="fas fa-angle-right" style="margin-left: 10px;"></i></a></div>
            </div>
        </section>
    </div>
    <footer class="text-white" style="background-color: black;padding-top: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row align-items-center order-2 order-lg-0" style="/*white-space: nowrap;*/font-size: 13px;"><a href="#">Nghề nghiệp</a><a href="#">Người vận hành vệ tinh</a><a href="#">Đại lý ủy quyền</a><a href="#">Quyền riêng tư &amp; pháp lý</a><a href="#">Sở thích bảo mật</a></div>
                <div class="col-12 col-lg-6 text-lg-end d-flex flex-column flex-lg-row justify-content-lg-end align-items-center order-1 order-lg-0 align-items-lg-start"><span class="me-md-3" style="font-size: 11px;padding: 10px 0;">Quan tâm đến việc cập nhật với Starlink? </span>
                    <div class="input-signup-wrapper" style="width: auto;">
                        <div class="d-flex flex-nowrap flex-row"><input type="email" id="input_email_built-1" class="email-input" placeholder="Email" style="font-size: 12px;background-color: black;color: white;border-top-style: none;border-right-style: none;border-bottom: 1px solid white;border-left-style: none;width: 100%;"><a class="text-uppercase" href="#" style="font-size: 12px;padding-left: 15px;text-align: center;height: auto;white-space: nowrap;">Đăng ký&nbsp;<i class="fas fa-angle-right" style="margin-left: 10px;"></i></a></div>
                        <p class="mb-0 privacy-text" style="font-size: 11px;padding: 10px 0;">Bằng cách nhấp vào Đăng ký, bạn đồng ý với chúng tôi Chính sách bảo mật</p>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-start"><img class="me-2" src="{% static 'img/Menu_X.svg' %}" style="padding: 5px 0;"><span class="me-2" style="margin: 5px;white-space: nowrap;">Starlink © 2025</span><span class="me-2" style="margin: 5px;white-space: nowrap;">Starlink là một bộ phận của SpaceX. Ghé thăm chúng tôi tại&nbsp;<a href="https://www.spacex.com/" target="_blank"><strong>spacex.com</strong></a></span></div>
        </div>
    </footer>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/built.js' %}"></script>
    <script src="{% static 'assets/js/hearder.js' %}"></script>
    <script src="{% static 'assets/js/banner.js' %}"></script>
    <script src="{% static 'assets/js/Media-Slider-Bootstrap-3-media.slider.js' %}"></script>
    <script src="{% static 'assets/js/Simple-Slider-swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/Simple-Slider.js' %}"></script>
    <script src="{% static 'assets/js/dathang.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v10.2.0/dist/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js&quot; integrity=&quot;sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==&quot; crossorigin=&quot;anonymous&quot; referrerpolicy=&quot;no-referrer"></script>
    <script src="{% static 'assets/js/map.js' %}"></script>
    <script src="{% static 'assets/js/order.js' %}"></script>
</body>

</html>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/hearder.js' %}"></script>
{% endblock %}