{% extends "base.html" %}
{% load static %}

{% block main %}
    <section class="py-4 py-xl-5" style="background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.88)), url('{% static 'img/residential_b_hero_d.webp' %}') no-repeat center center /cover;min-height: 500px;">
        <div class="main">
            <p style="margin-top: 40px;text-align: center;color: white;font-size: clamp(20px, 5vw, 60px);margin-bottom: 0rem;"><br>
                <strong>CHUYỂN VÙNG VỚI STARLINK</strong>
            </p>
            <p style="text-align: center;color: white;width: auto;font-size: clamp(8px, 3vw, 35px);height: auto;font-weight: 600;margin-bottom: auto;">
                <strong>Làm việc và giải trí tại những địa điểm xa xôi.</strong>
            </p>
            <div class="justify-content-center flex-row" style="display: flex;"></div>
        </div>
        <form class="d-flex justify-content-center flex-wrap align-items-end row" method="post" layber="">
            <div class="d-flex justify-content-center" style="padding: 5%;">
                <button class="btn w-100 w-md-auto d-block" type="submit" style="color: black;background-color: white;height: auto;margin-top: 10px;width: auto;max-width: 200px;font-weight: 700;">Đặt hàng ngay</button>
            </div>
        </form>
    </section>
    <nav class="navbar navbar-expand-lg navbar-nav" style="padding: clamp(20px,1vw,50px) clamp(24px, 2vw, 60px);background-color: #303030;color: var(--on-surface-color);">
        <div class="container-fluid" style="text-align: center;justify-content: space-between;">
            <a class="navbar-brand fw-bold text-white" href="#" style="max-width: 180px;">
                <span>CHUYỂN VÙNG</span>
            </a>
            <div class="collapse navbar-collapse justify-content-end text-uppercase" id="navbarNav-1" style="font-weight: bold;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white left" href="#" style="font-weight: bold;">Kế hoạch dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="specifications.html">THÔNG SỐ KỸ THUẬT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="help_center.html">Câu hỏi thường gặp</a>
                    </li>
                    <li class="nav-item" style="display: flex;justify-content: center;align-items: center;">
                        <button class="btn" type="button" style="border: 1px solid white;background-color: white;color: black;font-weight: bolder;font-size: small;"> ORDER NOW </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="background: url('{% static 'img/roam_a_feature1_d.webp' %}') no-repeat center center / cover;color: white;padding: 5% 0 20%;">
        <div class="row" style="padding-top: 7%;">
            <div class="col-md-10 col-lg-6 col-xl-6 col-xxl-6 offset-lg-6 offset-xl-6 offset-xxl-6 col-xl-4 col-md-5" style="padding: 0 5% 5% 5%;">
                <div>
                    <h1 class="text-uppercase fw-bold">LÀM VIỆC VÀ GIẢI TRÍ Ở NHỮNG NƠI XA XÔI</h1>
                    <p class="my-3">Starlink cung cấp internet tốc độ cao ở hầu hết mọi nơi trên thế giới. Gói Roam cho phép bạn di chuyển khắp quốc gia của mình và cả các chuyến đi quốc tế tại những khu vực có Starlink hoạt động.</p>
                    <p class="my-3">Starlink kết nối chỉ trong vài phút và có thể thu gọn nhanh chóng khi bạn cần di chuyển đến điểm đến tiếp theo.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background: url('{% static 'img/residentaial_illustriation2_d.webp' %}') no-repeat left center / 50%;color: white;background-attachment: fixed;background-color: black;">
        <section class="py-4 py-xl-5" style="color: white;">
            <div style="height: 290px;padding-top: 7%;">
                <p class="text-uppercase" style="text-align: center;color: white;width: auto;font-size: clamp(8px, 3vw, 35px);height: auto;font-weight: 600;margin-bottom: auto;">
                    <strong>Trả tiền theo nhu cầu</strong>
                </p>
                <div class="justify-content-center flex-row align-items-center flex-wrap" style="display: flex;margin: 2% 20%;">
                    <span style="padding: 0 10%;text-align: center;">Dừng và tiếp tục dịch vụ bất cứ lúc nào. Thanh toán theo từng tháng, giúp bạn linh hoạt điều chỉnh dịch vụ phù hợp với nhu cầu du lịch cá nhân.</span>
                </div>
            </div>
        </section>
        <div style="background: url('{% static 'img/roam_b_feature2_d.webp' %}') no-repeat center center / cover;color: white;padding: 5% 0 20%;">
            <div class="row" style="padding-top: 7%;">
                <div class="col-md-7 col-lg-7 col-xl-7 col-xxl-7 offset-md-1 offset-lg-1 offset-xl-1 offset-xxl-1 col-xl-4 col-md-5" style="padding: 0 5% 5% 5%;">
                    <div>
                        <h1 class="text-uppercase fw-bold">SỬ DỤNG STARLINK TRÊN XE DI CHUYỂN</h1>
                        <p class="my-3">Tất cả các gói Roam đều hỗ trợ sử dụng khi đang di chuyển với tốc độ lên đến 100 mph (160 km/h). Xem Câu hỏi thường gặp để biết thêm chi tiết.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 offset-xl-0">
                <img class="rounded img-fluid" src="{% static 'img/roam_b_feature3_d.webp' %}" style="width: 100%;height: 100%;" width="585" height="586">
            </div>
            <div class="col-md-5 col-xxl-6 offset-xxl-0 d-md-flex align-items-md-center" style="padding: 0 5%;">
                <div>
                    <h2 class="text-uppercase fw-bold">STARLINK TRÊN BIỂN</h2>
                    <p style="padding-top: 2%;">Tận hưởng internet tốc độ cao cho tàu thuyền của bạn trên vùng nội địa và lãnh hải với Starlink Roam.</p>
                    <p>Để sử dụng trên vùng biển quốc tế và hành trình đại dương, hãy xem Starlink Maritime để chọn gói dịch vụ phù hợp với nhu cầu của bạn.</p>
                    <div class="row" style="text-align: start;">
                        <a class="btn btn-lg col-xl-5" role="button" href="business_maritime.html" style="color: white;font-size: clamp(9px , 1vw,50px);text-align: start;width: auto;border: 1px solid;">XEM HÀNG HẢI</a>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="border rounded overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6 offset-xl-1 offset-xxl-0 order-first order-md-last">
                    <img class="rounded img-fluid w-100 fit-cover" src="{% static 'img/roam_a_install_d.webp' %}" style="width: 100%;height: 100%;">
                </div>
                <div class="col-md-5 col-xxl-6 offset-xxl-0 d-md-flex align-items-md-center">
                    <div style="padding: 0 10%;">
                        <h2 class="text-uppercase fw-bold">KẾT NỐI CHỈ TRONG VÀI PHÚT</h2>
                        <p>Cài đặt Starlink chỉ với 2 bước đơn giản (thực hiện theo thứ tự nào cũng được):</p>
                        <span>
                            <strong>
                                <span style="color: rgb(250, 250, 250); background-color: rgb(0, 0, 0);">| 1&nbsp;</span>
                                CẮM ĐIỆN
                            </strong>
                        </span>
                        <span>
                            <br>
                            <strong>
                                <span style="color: rgb(250, 250, 250); background-color: rgb(0, 0, 0);">| 2&nbsp;</span>
                                HƯỚNG VỀ BẦU TRỜI
                            </strong>
                            <br><br>
                        </span>
                        <p>Starlink cần góc nhìn rộng, không bị che khuất để kết nối tốt nhất. Tải ứng dụng Starlink để xác định vị trí lắp đặt tối ưu.</p>
                        <div class="row text-uppercase" style="text-align: start;">
                            <a class="btn btn-lg col-xl-5" role="button" href="#" style="color: white;font-size: smaller;text-align: start;width: auto;font-weight: bold;">
                                <span style="color: white; background-color: black;">Tải xuống cho Android</span>
                                <i class="fas fa-angle-right" style="margin-left: 10px;"></i>
                            </a>
                            <a class="btn btn-lg col-xl-5" role="button" href="#" style="color: white;font-size: smaller;text-align: start;width: auto;font-weight: bold;">
                                <span style="color: white; background-color: black;">Tải xuống cho iOS</span>
                                <i class="fas fa-angle-right" style="margin-left: 10px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background: url('{% static 'img/residential_a_hardware_d.webp' %}') no-repeat center center / cover;color: white;height: 800px;">
        <div class="row" style="padding-top: 7%;">
            <div class="col-md-3 col-lg-2 col-xl-2 col-xxl-2 offset-md-0"></div>
            <div class="col-md-6 col-lg-5 col-xl-6 col-xxl-6 offset-md-5 offset-lg-3 offset-xl-1 col-xl-4 col-md-5 offset-md-3 text-start justify-content-sm-center text-sm-center text-xl-start text-lg-start text-md-start" style="padding: 0 5% 5% 5%;margin-left: 1px;">
                <div>
                    <h1 class="text-uppercase fw-bold" style="white-space: normal;font-size: clamp(15px,2vw,30px);">CÁI GÌ TRONG HỘP TIÊU CHUẨN</h1>
                    <p class="my-3">Starlink Kit đến với mọi thứ bạn cần để lên mạng trong vài phút.</p>
                    <a href="specifications.html" style="font-size: 12px;text-align: center;height: auto;white-space: nowrap;">
                        THÔNG SỐ KỸ THUẬT XEM
                        <i class="fas fa-angle-right" style="margin-left: 10px;"></i>
                    </a>
                </div>
            </div>
        </div>
        <div style="width: 100%;display: flex;justify-content: center;align-items: center;padding-top: 10%;">
            <div class="d-flex flex-nowrap align-items-center px-3" style="max-width: 55%;width: 100%;overflow: visible;">
                <button class="btn text-white" type="button" onclick="scrollContainer(-200, &#39;dragContainer&#39;)">
                    <i class="fas fa-angle-left"></i>
                </button>
                <div id="dragContainer-1" class="drag-container" role="region" aria-label="Image carousel">
                    <div class="items-wrapper">
                        <div class="item">
                            <img class="img-built1" src="{% static 'img/hardware_actuated_dish.webp' %}" alt="Starlink" loading="lazy">
                            <p class="text-center">STARLINK</p>
                        </div>
                        <div class="item">
                            <img class="img-built1" src="{% static 'img/hardware_actuated_accable.webp' %}" loading="lazy">
                            <p class="text-center">CÁP AC</p>
                        </div>
                        <div class="item">
                            <img class="img-built1" src="{% static 'img/hardware_actuated_base.webp' %}" loading="lazy">
                            <p class="text-center">CƠ SỞ</p>
                        </div>
                        <div class="item">
                            <img class="img-built1" src="{% static 'img/hardware_actuated_router.webp' %}" loading="lazy">
                            <p class="text-center">STARLINK CABLE&lt;</p>
                        </div>
                        <div class="item">
                            <img class="img-built1" src="{% static 'img/hardware_actuated_starlinkcable.webp' %}" loading="lazy">
                            <p class="text-center">EXTRA</p>
                        </div>
                    </div>
                </div>
                <button class="btn text-white" type="button" onclick="scrollContainer(200, &#39;dragContainer&#39;)">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div style="background: url('{% static 'img/residentaial_illustriation3_d.webp' %}') no-repeat calc(100% - -50%) center / 70%;color: white;background-attachment: fixed;background-color: black;">
        <section class="newsletter-subscribe py-4 py-xl-5">
            <div class="row" style="padding: 7% 0 5%;">
                <div class="col-md-6 col-lg-6 col-xl-5 col-xxl-5 offset-md-0 offset-lg-1 offset-xl-1 col-xl-4 col-md-5 offset-md-3 text-md-start text-xxl-start text-xl-start text-lg-start text-sm-center text-xs-center">
                    <div>
                        <h1 class="text-uppercase fw-bold" style="white-space: normal;font-size: clamp(15px,2vw,30px);">PHỤ KIỆN &amp; MOUNTS</h1>
                        <p class="my-3">Có sẵn trong Cửa hàng Starlink sau khi bạn mua</p>
                    </div>
                </div>
                <div class="col-xxl-12">
                    <div style="width: 100%;display: flex;justify-content: center;align-items: center;">
                        <div class="d-flex flex-nowrap align-items-center px-3" style="width: 100%;max-width: 85%;overflow: visible;">
                            <button class="btn text-white" type="button" onclick="scrollContainer(-200, &#39;dragContainer-2&#39;)">
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <div id="dragContainer-3" class="drag-container" role="region" aria-label="Image carousel">
                                <div class="items-wrapper" style="width: 100%;">
                                    <div class="item">
                                        <img class="img-built" src="{% static 'img/accessories_ethernet_adapter.webp' %}" alt="Starlink">
                                        <p class="text-center">QUẢNG CÁO INTERNET</p>
                                    </div>
                                    <div class="item">
                                        <img class="img-built" src="{% static 'img/accessories_mesh_wifi_router.webp' %}">
                                        <p class="text-center">MESH WIFI ROUTER </p>
                                    </div>
                                    <div class="item">
                                        <img class="img-built" src="{% static 'img/accessories_actuated_ground_pole_mount.webp' %}">
                                        <p class="text-center">PIPE QUẢNG CÁO </p>
                                    </div>
                                    <div class="item">
                                        <img class="img-built" src="{% static 'img/accessories_actuated_short_wall_mount.webp' %}">
                                        <p class="text-center">STARLINK CABLE&lt;</p>
                                    </div>
                                    <div class="item">
                                        <img class="img-built" src="{% static 'img/accessories_actuated_long_wall_mount.webp' %}">
                                        <p class="text-center">EXTRA</p>
                                    </div>
                                    <div class="item">
                                        <img class="img-built" src="{% static 'img/accessories_actuated_pivot_mount.webp' %}">
                                        <p class="text-center">EXTRA</p>
                                    </div>
                                    <div class="item">
                                        <img class="img-built" src="{% static 'img/accessories_actuated_ridgeline_mount.webp' %}">
                                        <p class="text-center">EXTRA</p>
                                    </div>
                                    <div class="item">
                                        <img class="img-built" src="{% static 'img/accessories_actuated_ground_pole_mount.webp' %}">
                                        <p class="text-center">EXTRA</p>
                                    </div>
                                </div>
                            </div>
                            <button class="btn text-white" type="button" onclick="scrollContainer(200, &#39;dragContainer-2&#39;)">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background: url('assets/img/roam_a_weather_d.webp') no-repeat center center / cover;color: white;padding: 5% 0 20%;">
                <div class="row" style="padding-top: 7%;">
                    <div class="col-md-7 col-lg-7 col-xl-7 col-xxl-7 offset-md-1 offset-lg-1 offset-xl-1 offset-xxl-1 col-xl-4 col-md-5" style="padding: 0 5% 5% 5%;">
                        <div>
                            <h1 class="text-uppercase fw-bold">CHỊU ĐƯỢC MỌI THỜI TIẾT</h1>
                            <p class="my-3">Starlink được thiết kế để chống chọi với mọi điều kiện thời tiết - có khả năng tự làm tan tuyết, chịu được mưa đá, mưa lớn và gió mạnh.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-4 py-xl-5">
                <div class="row mb-5" style="padding-top: 5%;">
                    <div class="col-xxl-12">
                        <h4>ĐÁNH GIÁ TỪ KHÁCH HÀNG</h4>
                    </div>
                </div>
                <div class="row testimonial-row">
                    <div class="col-md-12 col-xl-4 col-xxl-4 col-lg-4">
                        <div class="testimonial-card">
                            <h2 class="text-uppercase">LÀM VIỆC TỪ MỌI NƠI</h2>
                            <p class="testimonial-text"><br>"Đây là một mục phải có nếu bạn cần làm việc từ xa hoặc thích đi ra khỏi lưới điện nhưng vẫn muốn có sẵn internet! Hoạt động rất tốt! "</p>
                            <p class="testimonial-author">- Hoyung từ Hoa Kỳ</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 col-xxl-4 col-lg-4">
                        <div class="testimonial-card">
                            <h2 class="text-uppercase">HOÀN HẢO CHO XE RV</h2>
                            <p class="testimonial-text"><br>"Là một khách hàng RV toàn thời gian, chúng tôi yêu thích Starlink của chúng tôi. Chúng tôi đã có internet hoàn hảo ở mọi nơi chúng tôi đã đến. "</p>
                            <p class="testimonial-author">- Walter từ Hoa Kỳ</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 col-xxl-4 col-lg-4">
                        <div class="testimonial-card">
                            <h2 class="text-uppercase">ĐÁNG TIN CẬY</h2>
                            <p class="testimonial-text"><br>"Starlink đã giúp tôi làm việc trực tuyến, cho phép tôi đi đến những nơi khác nhau với một nguồn internet vệ tinh đáng tin cậy và giúp tôi quyết định sớm di chuyển và sống ở nông thôn."</p>
                            <p class="testimonial-author">- Jeeve từ Philippines</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb-2" style="padding-top: 10%;">
                    <div class="col-md-8 col-xl-6 text-center mx-auto" style="color: white;">
                        <h2 class="display-6 fw-bold">THỬ 30 NGÀY</h2>
                        <p>Hãy thử Starlink trong 30 ngày và nếu không hài lòng, hãy hoàn lại tiền đầy đủ.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="padding: 3% 5% 5%;"><button class="btn w-100 w-md-auto d-block text-uppercase" type="submit" style="color: black;background-color: white;height: auto;margin-top: 10px;width: auto;max-width: 200px;font-weight: 700;">Đặt hàng ngay</button></div>
            </div>
        </section>
    </div>


    

    
{% endblock main %}