{% extends "base.html" %}
{% load static %}

{% block main %}
    <style>
        body{
            background-color: black;
        }
    </style>
    <section class="py-4 py-xl-5" style="background: url('{% static 'img/residentaial_illustriation3_d.webp' %}') no-repeat calc(100% - 100%) center / 80%;">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1 class="text-uppercase text-white" style="padding-top: 5%;font-weight: bold;">GÓI DỊCH VỤ</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
            <div class="d-flex justify-content-start align-items-center text-uppercase text-white flex-wrap align-content-between" style="background-color: #121212;min-width: 350px;height: 50px;border-radius: 45px;/*margin-left: 6%;*/">
                <a href="#" style="background-color: #212121;width: 40%;height: 50px;text-align: center;border-radius: 45px;margin-top: -10px;margin-left: 0px;">
                    <button class="btn text-white" type="button" style="font-weight: bold;font-size: larger;white-space: nowrap;">CÁ NHÂN</button>
                </a>
                <a href="{% url 'service_plans_business' %}" style="width: 40%;height: 100%;text-align: center;margin-top: 7px;">
                    <button class="btn text-white" type="button" style="font-weight: bold;white-space: nowrap;">DOANH NGHIỆP</button>
                </a>
            </div>
            <div class="container" style="padding-top: 5%;">
                <div class="row">
                    <div class="col-md-6 col-lg-5 offset-lg-1 offset-xxl-1" style="border: 1px solid rgba(255,255,255,0.31);border-radius: 10px;">
                        <h1 class="text-uppercase text-center text-white">HỘ GIA ĐÌNH</h1>
                        <p class="text-uppercase text-center" style="font-size: x-small;font-weight: 400;">Phù hợp nhất cho các hộ gia đình</p>
                        <h6 class="text-uppercase text-center">TÍNH NĂNG CHÍNH</h6>
                        <p class="text-uppercase text-center text-white" style="font-size: larger;padding: 0;font-weight: 600;">Dữ liệu không giới hạn<br>VỊ TRÍ CỐ ĐỊNH</p>
                        <h6 class="text-uppercase text-center">Gói dịch vụ hàng tháng</h6>
                        <div class="d-flex flex-row flex-nowrap justify-content-between align-items-center text-white align-content-stretch" style="border-bottom: 1px solid rgba(255,255,255,0.5);padding: 5% 0 3%;">
                            <h5>KHU dân cư nhỏ</h5>
                            <h5>3,5Tr/Tháng</h5>
                        </div>
                        <div class="d-flex flex-row flex-nowrap justify-content-between align-items-center text-white align-content-stretch" style="border-bottom: 1px solid rgba(255,255,255,0.42);padding: 5% 0 3%;">
                            <h5>KHU dân cư&nbsp;</h5>
                            <h5>15Tr/Tháng</h5>
                        </div>
                        <p style="font-size: x-small;padding: 5%;">Người dùng gói Residential Lite sẽ được ưu tiên sau gói Residential và sẽ trải nghiệm tốc độ chậm hơn vào giờ cao điểm. Gói Residential Lite không có sẵn ở tất cả các khu vực. Xem khu vực hỗ trợ tại đây.</p>
                    </div>
                    <div class="col-md-6 col-lg-5 offset-lg-1" style="border: 1px solid rgba(255,255,255,0.31);border-radius: 10px;">
                        <h1 class="text-uppercase text-center text-white">CHuyển vùng</h1>
                        <p class="text-uppercase text-center" style="font-size: x-small;font-weight: 400;">Phù hợp nhất cho xe RV, người du mục, người cắm trại và làm việc khi di chuyển</p>
                        <h6 class="text-uppercase text-center">TÍNH NĂNG CHÍNH</h6>
                        <p class="text-uppercase text-center text-white" style="font-size: larger;padding: 0;font-weight: 600;">
                            <strong>Phủ sóng toàn quốc</strong><br>
                            <strong>Sử dụng khi đang di chuyển</strong><br>
                            <strong>Du lịch quốc tế</strong><br>
                            <strong>Phủ sóng ven biển</strong><br>
                            <strong>Tạm dừng dịch vụ</strong>
                        </p>
                        <h6 class="text-uppercase text-center">Gói dịch vụ hàng tháng</h6>
                        <div class="d-flex flex-row flex-nowrap justify-content-between align-items-center text-white align-content-stretch" style="border-bottom: 1px solid rgba(255,255,255,0.5);padding: 5% 0 3%;">
                            <h5>Chuyển vùng -50GB</h5>
                            <h5>3,5Tr/Tháng</h5>
                        </div>
                        <div class="d-flex flex-row flex-nowrap justify-content-between align-items-center text-white align-content-stretch" style="border-bottom: 1px solid rgba(255,255,255,0.42);padding: 5% 0 3%;">
                            <h5>Chuyển vùng - Không giới hạn</h5>
                            <h5>15Tr/Tháng</h5>
                        </div>
                        <p style="font-size: x-small;padding: 5%;">Người dùng gói Roam 50 GB bị giới hạn dung lượng 50 GB và có thể trả thêm theo GB nếu muốn dùng thêm dữ liệu. Để biết giới hạn về du lịch quốc tế, phủ sóng ven biển và sử dụng khi đang di chuyển, vui lòng xem phần Câu hỏi thường gặp tại đây.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-5 offset-lg-1 offset-xxl-1">
                        <div class="d-flex justify-content-center" style="padding: 5%;">
                            <a href="{% url 'order' %}">
                                <button class="btn w-100 w-md-auto d-block" type="submit" style="color: black;background-color: white;height: auto;margin-top: 10px;width: auto;max-width: 200px;font-weight: 700;">Đặt hàng ngay</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 offset-lg-1">
                        <div class="d-flex justify-content-center" style="padding: 5%;">
                            <a href="{% url 'order' %}">
                                <button class="btn w-100 w-md-auto d-block" type="submit" style="color: black;background-color: white;height: auto;margin-top: 10px;width: auto;max-width: 200px;font-weight: 700;">Đặt hàng ngay</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}