{% extends "base.html" %}
{% load static %}

{% block main %}
    <section class="py-4 py-xl-5" style="min-height: 500px;background-color: black;">
        <h1 class="text-uppercase text-center text-white" style="padding: 10% 0 0;font-weight: 700;">Video HƯỚNG DẪN</h1>
        <p class="text-center text-white" style="font-size: larger;">Xem các video để tìm hiểu thêm về Starlink của bạn.</p>
        <div class="main text-white d-flex flex-row" style="padding-top: 12%;">
            <div class="row" style="width: 100%;padding: 0 5%;">
                <div class="col-md-6 col-lg-7 col-xl-6 col-xxl-6 offset-xl-1 offset-xxl-0">
                    <video controls="" controlslist="nodownload" disablepictureinpicture="" poster="https://www.starlink.com/public-files/video_thumbnail_player_what_is_starlink_d.webp" src="https://www.starlink.com/public-files/videos/base/Starlink_What_Is_Starlink.mp4"></video>
                    {% comment %} <iframe allowfullscreen="" frameborder="0" width="560" height="315" style="width: auto;" src="{% static 'video/Starlink_Standard_Install_Video.mp4' %}" type="video/mp4"></iframe> {% endcomment %}
                    <div class="starlink-video-info">
                        <h3>Lắp đặt cố định cho bản tiêu chuẩn</h3>
                        <p>
                            <span style="text-decoration: underline;">Tìm hiểu cách lắp đặt Starlink để có hiệu suất tốt nhất. Truy cập trang hỗ trợ để tìm hiểu thêm.</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-5 col-xxl-6 offset-lg-0 offset-xl-0 offset-xxl-0 starlink-section">
                    <div class="d-flex flex-row text-white justify-content-start text-center align-items-start starlink-item" style="padding: 0 2% 5% 2%;font-size: clamp(24px,1vw,53px);">
                        <img src="{% static 'img/help_center_resources_video_guides.webp' %}" style="max-width: 210px;">
                        <div class="d-flex flex-column flex-nowrap justify-content-start align-items-start text-start starlink-item" style="padding-left: 5%;">
                            <p style="font-size: clamp(20px,1vw,25px);">STARLINK LÀ GÌ?</p>
                            <span style="font-size: clamp(10px,1vw,40px);">Internet tốc độ cao, có sẵn gần như ở mọi nơi trên Trái Đất.</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row text-white justify-content-start text-center align-items-start starlink-item" style="padding: 0 2% 5% 2%;font-size: clamp(24px,1vw,53px);">
                        <img src="{% static 'img/help_center_resources_starlink_app.webp' %}" style="max-width: 210px;">
                        <div class="d-flex flex-column flex-nowrap justify-content-start align-items-start text-start" style="padding-left: 5%;">
                            <p style="font-size: clamp(20px,1vw,25px);">VẬT CẢN</p>
                            <span style="font-size: clamp(10px,1vw,40px);">Thiết lập Starlink với tầm nhìn bầu trời thoáng đãng.</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row text-white justify-content-start text-center align-items-start starlink-item" style="padding: 0 2% 5% 2%;font-size: clamp(24px,1vw,53px);">
                        <img src="{% static 'img/video_thumbnail_list_mini_quick_start_d.webp' %}" style="max-width: 210px;">
                        <div class="d-flex flex-column flex-nowrap justify-content-start align-items-start text-start" style="padding-left: 5%;">
                            <p style="font-size: clamp(20px,1vw,25px);">KHỞI ĐỘNG NHANH CHO MINI</p>
                            <span style="font-size: clamp(10px,1vw,40px);">Kết nối Internet chỉ trong vài phút.</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row text-white justify-content-start text-center align-items-start starlink-item" style="padding: 0 2% 5% 2%;font-size: clamp(24px,1vw,53px);">
                        <img src="{% static 'img/video_thumbnail_list_standard_quick_start_d-1.webp' %}" style="max-width: 210px;">
                        <div class="d-flex flex-column flex-nowrap justify-content-start align-items-start text-start" style="padding-left: 5%;">
                            <p style="font-size: clamp(20px,1vw,25px);">KHỞI ĐỘNG NHANH CHO BẢN TIÊU CHUẨN</p>
                            <span style="font-size: clamp(10px,1vw,40px);">Rất dễ để kết nối Internet chỉ trong vài phút.</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row text-white justify-content-start text-center align-items-start starlink-item" style="padding: 0 2% 5% 2%;font-size: clamp(24px,1vw,53px);">
                        <img src="{% static 'img/video_thumbnail_list_standard_install_d.webp' %}" style="max-width: 210px;">
                        <div class="d-flex flex-column flex-nowrap justify-content-start align-items-start text-start" style="padding-left: 5%;">
                            <p style="font-size: clamp(20px,1vw,25px);">LẮP ĐẶT CỐ ĐỊNH CHO BẢN TIÊU CHUẨN</p>
                            <span style="font-size: clamp(10px,1vw,40px);">Tìm hiểu cách lắp đặt Starlink để đạt hiệu suất tối ưu.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}